<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.galaxy.ui"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon1"
        android:label="@string/app_name"
        android:largeHeap="true"
         android:theme="@android:style/Theme.NoTitleBar">
 >
        <activity
            android:name="com.app.galaxy.ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:screenOrientation="portrait" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.galaxy.ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.galaxy.ui.media.DownloadDetails"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.galaxy.ui.LoginScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.app.galaxy.ui.Registeration"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
           >
        </activity>
         <activity
            android:name="com.app.galaxy.http.UploadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
           >
        </activity>
        <activity
            android:name="com.app.galaxy.ui.media.Video"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <service android:name="com.paypal.android.sdk.payments.PayPalService" />

        <activity
            android:name="com.paypal.android.sdk.payments.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paypal.android.sdk.payments.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentMethodActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.paypal.android.sdk.payments.PaymentCompletedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.card.payment.DataEntryActivity"
            android:screenOrientation="portrait" />
        
        
    </application>

</manifest>